.App {
  text-align: center;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

li {
  list-style: none;
}

.intro-sub-text {
  font-weight: 100;
}

.navbar {
 text-align: right;
}

.navbar a button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bolder;
  margin: 0 15px;
  cursor: pointer;
}

p, li, h3, h2, h1, button, a {
  font-family: 'Share Tech Mono', monospace;
}

.image {
  width: 300px;
  border-radius: 10px;
}

.blurb-links-holder {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}

.link-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.projects {
  width: 80vw;
  margin-left: 10vw;
}

.projects-holder {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.project {
  /* border: solid 5px red; */
  width: 350px;
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header h1 {
  margin: 0;
}

.header {
  width: 80vw;
  margin-left: 10vw;
}

.link-holder button {
  background: rgb(123, 199, 80);
  border: rgb(123, 199, 80) solid 1px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.link-holder button:hover { 
  background-color: white;
}